%container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

%flex-stack{
    display: flex;
    align-items: center;
    justify-content: center;
}

%button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

header{
    min-height: 100vh;
    .container{
        @extend %container;
        .navbar{
            min-height: 10vh;
            @extend %flex-stack;
            justify-content: space-between;
            .nav-links{
                display: flex;
                align-items: center;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: $very-dark-blue;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin: 0 1.4rem;
                        opacity: 0.7;
                        font-size: 0.85rem;
                        letter-spacing: 1px;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: '';
                            bottom: -5px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            background-color: $very-dark-blue;
                            opacity: 0.8;
                            border-radius: 10px;
                            transition: 0.3s ease all;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
                button{
                    margin-left: 0.7rem;
                    @extend %button;
                    background-color: $soft-red;
                    padding: 0.6rem 1.75rem;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 500;
                    border: 2px solid $soft-red;
                    transition: 0.3s ease all;
                    &:hover{
                        background-color: #fff;
                        color: $soft-red;
                    }
                }
            }
            .hamburger-menu{
                cursor: pointer;
                display: none;
                z-index: 2;
                i{
                    color: $very-dark-blue;
                    &:nth-of-type(1){
                        display: block;
                    }
                    &:nth-of-type(2){
                        display: none;
                    }
                }
            }
        }
        .showcase{
            min-height: 80vh;
            @extend %flex-stack;
            justify-content: space-between;
            .showcase-left{
                flex: 1;
                z-index: 1;
                h1{
                    width: 80%;
                    font-size: 2.6rem;
                    color: $very-dark-blue;
                    margin-bottom: 0;
                }
                p{
                    font-weight: 500;
                    color: $very-dark-blue;
                    opacity: 0.5;
                    line-height: 1.5;
                    width: 80%;
                    margin: 1.5rem 0;
                }
                .cta{
                    display: flex;
                    align-items: center;
                    button{
                        @extend %button;
                        padding: 0.65rem 1.75rem;
                        font-weight: 500;
                        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
                        transition: 0.3s ease all;
                        &:nth-of-type(1){
                            background-color: $soft-blue;
                            color: #fff;
                            border: 2px solid $soft-blue;
                            margin-right: 1rem;
                            &:hover{
                                background-color: #fff;
                                color: $soft-blue;
                            }
                        }
                        &:nth-of-type(2){
                            background-color: #eee;
                            border: 2px solid #eee;
                            &:hover{
                                background-color: $very-dark-blue;
                                border-color: $very-dark-blue;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .showcase-right{
                flex: 1;
                margin-left: 2rem;
                position: relative;
                img{
                    width: 100%;
                }
                &::after{
                    z-index: -1;
                    position: absolute;
                    content: '';
                    background-color: $soft-blue;
                    height: 40vh;
                    width: 100%;
                    top: 20vh;
                    left: 20rem;
                    border-top-left-radius: 200px;
                    border-bottom-left-radius: 200px;
                }
            }
        }
    }
}